body {
  font-family: Arial, sans-serif;
  padding: 0 16px;
}
nav {
  text-align: right;
}
.menu_items {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  position: relative;
  top: -8px;
  margin-right: 16px;
}
.menu_items:hover {
  text-decoration: underline;
}
#dropdown-menu {
  position: relative;
  top: -2px;
  margin-right: 16px;
}
#profile_pic {
  height: 28px;
  width: 28px;
}
section {
  text-align: center;
  padding-top: 13%;
}
#google_icon {

}
#input_wrapper {
  width: 582px;
  position: relative;
  display: inline-block;
}
#input_wrapper > img {
  position: absolute;
  top: 34px;
  right: -10px;
  width: 28px;
}
#search_box {
  width: 100%;
  color: #222;
  border: 1px solid #dfe1e5;
  font-size: 13px;
  padding: 14px;
  border-radius: 24px;
  outline: none;
  margin-top: 24px;
  margin-bottom: 24px;
}
#search_box:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
#search_box:focus {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.custom_button {
  background-color: #f2f2f2;
  color: #5F6368;
  font-size: 14px;
  height: 36px;
  padding: 0 16px;
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  color: #222;
}
.custom_button:hover {
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
}
.custom_button:first-of-type {
  margin: 10px;
}

#app-dropdown{
  width: 285px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 1120px;
  top : 50px;
  display: none;
}
.app-item {
  display: inline-block;
  width: 84px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 0;
  text-align: center;
}
.app-item:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.app-item > img {
  height: 50px;
  width: 50px;
}
.app-item > p {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  padding-top: 8px;
}
td {
  padding: 0px 3px 0 3px;
}
#dropdown-wrapper{
  display: inline-block;
}

#dropdown-wrapper:hover ~ #app-dropdown {
  display: block;
}
